<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRYx9nTP6J2emC2WLO_AkWbzU8z0MxrZw</string>
	<key>GCM_SENDER_ID</key>
	<string>939258030099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoeslyPrioritySoft</string>
	<key>PROJECT_ID</key>
	<string>shoesly-8585b</string>
	<key>STORAGE_BUCKET</key>
	<string>shoesly-8585b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939258030099:ios:748c1489bf21a43c6bf7e6</string>
</dict>
</plist>